* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-main);
}

ul{
    list-style: None;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

.container {
    margin: 0 auto;
    max-width: 1358px;
    padding: 0 5px;
}
.header-container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 5px;
}