.header{
    padding-top: 48px;
}

.nav{
    width: 100%;
}

.nav-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-list li a{
    display: inline-block;
    width: 140px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 26px;
    background-color: var(--bg-button-main);
    color: var(--font-color-main);
    text-decoration: none;
    transition: 0.3s;
}
.nav-list li a:hover{
    background-color: var(--bg-button-hover);
    color: var(--font-color-hover);
}
.nav-list li a:active{
    background-color: var(--bg-button-hover);
    color: var(--font-color-hover);
}

.nav-link{
    color: var(--font-color-main);
    font-size: 20px;
    font-weight: 500;
}
.nav-link:hover{
    color: var(--font-color-hover);
}

@media (max-width: 630px) {
    .header{
        display: none;
    }
}