h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 455px;
    font-size: 96px;
    width: 100%;
}

.container h1:after {
    content: "";
    display: block;
    height: 1px;
    background-color: #fff;
    margin-top: 455px;
    width: 1000px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
}